
<div style="padding-right: 600px;">
	<header style="background-color: red;color: white;font-size: 30px;text-align: center;">
	<p>PEN YOUR TALENT</p>
</header>


	<div id="div1" style="background-color: blue;padding: 1px;margin-top: 10px;">
	<header style="background-color: black;color: white;text-align: center;">
		<p>RHYMING VERSES</p>
	</header>
	<form onsubmit="/home/new">
	<tr>
		<input type="text" name="poems" style="padding: 100px; width: 70%;background-color: blue;color: white;">
		<input type="submit" value="Submit" onsubmit="/home/new">
	</form>
		</tr>
	</div>

	<div id="div2" style="background-color: indigo;padding: 1px;margin-top: 10px;">
		<header style="background-color: black;color: white;text-align: center;">
			<p>YOUR THOUGHTS</p>
		</header>
		<form>
		<tr>
		<input type="text" name="quotes" style="padding: 100px;width: 70%; background-color: indigo;color: white;">
		<input type="submit" value="Submit">
	</form>
	</tr>
	</div>

	<div id="div3" style="background-color: green;padding: 1px;margin-top: 10px;">
		<header style="background-color: black;color: white;text-align: center;">
			<p>YOUR NARRATION</p>
		</header>
		<form>
		<tr>
		<input type="text" name="shortstory" style="padding: 100px;width: 70%; background-color: green;color: white;">
		<input type="submit" value="Submit">
	</form>
	</tr>
	</div>
</div>










